// PayPal Forward Web Font
@font-face {
  font-family: "PayPal Forward";
  src: url("../fonts/paypal-forward/PayPalForwardW01-Light.eot");
  src: url("../fonts/paypal-forward/PayPalForwardW01-Light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/paypal-forward/PayPalForwardW01-Light.woff") format("woff"),
       url("../fonts/paypal-forward/PayPalForwardW01-Light.svg#PayPalForward") format("svg");
  font-weight: 200;
  font-style: normal;
}